.filters__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.filter {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
}

.filter--things {
  grid-column: 1 / -1;
}

.filter__input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.filter__input-group > input {
  flex-grow: 1;
}

.filters__buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
