.filters-list {
  margin-block: 2.5rem;
  display: flex;
  flex-direction: column;
}

.filters-list__content {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-section);
  overflow: auto;
  padding: 1.5rem;
}

.filters-list__parameters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: end;
}

.filter--things {
  grid-column: 1 / -1;
}

.filters__buttons {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .filters-list {
    margin-block: 2.25rem;
  }

  .filters-list__parameters {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .filters-list {
    margin-block: 2rem;
  }

  .filters-list__parameters {
    grid-template-columns: repeat(3, 1fr);
  }
}
