.nav {
  background: var(--color-white);
  box-shadow: var(--box-shadow-section);
  padding: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
  
.nav__container {
  padding-inline: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__header {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-black);
}

.nav__title {
  display: flex;
}

.nav__title-part {
  display: inline-block;
}

.nav__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 2.5rem;
  height: 2rem;
  row-gap: 0.375rem;
  margin-left: 1rem;
  background: none;
  border: none;
}

.nav__burger-line {
  width: 2rem;
  height: 0.25rem;
  background: var(--color-black);
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .nav__container {
    padding-inline: 2%;
  }
}

@media (max-width: 768px) {
  .nav__title {
    flex-direction: column;
  }

  .nav__buttons {
    display: none;
  }

  .nav__burger {
    display: flex;
  }
}

@media (max-width: 480px) {
  .nav__title-part--second {
    display: none;
  }
}
