.nav {
  background: var(--color-white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}
  
.nav__container {
  padding-inline: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__header {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__mobile-menu {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100vw;
  background: var(--color-white);
  z-index: 40;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.nav__mobile-menu-content {
  padding: 1rem;
}

.nav__mobile-menu-button {
  margin-bottom: 0.5rem;
}
